<input type="text" [formControl]="passwordInput" placeholder="Enter password" />

<div
  [ngClass]="{
    red: setRed() || setEasy(),
    yellow: setYellow(),
    green: setGreen()
  }"
>
  <span class="easy" *ngIf="setText() && setEasy()">Easy</span>
</div>

<div
  [ngClass]="{
    red: setRed(),
    yellow: setMedium(),
    green: setGreen(),
    grey: setGrey(),
  }"
>
  <span class="medium" *ngIf="setText() && setMedium()">Medium</span>
</div>

<div [ngClass]="{ red: setRed(), green: setGreen() }">
  <span class="strong" *ngIf="setGreen()">Strong</span>
</div>
